extends layout

block content

  h1 Genre: #{genre.name}

  div(style='margin-left:20px;margin-top:20px')
    img(src=`/uploads/${genre._id}.jpg`, alt='Genre Image', style='width: 100px; height: 100px;')

    h4 Books

    dl
      each book in genre_books
        dt
          a(href=book.url) #{book.title}
        dd #{book.summary}

      else
        p This genre has no books
